.body{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #85c194;
}
.login-container{
    width: 253px;
}
.title{
  text-align: center;
}
.keyGroup{
    margin-bottom: 1rem;
}
.form-container{
    text-align: center;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.keyInput{
    border-radius: 31px;
    border: none;
    width: 100.9%;
    outline: none;
    padding: 0.4rem;
    font-family: 'Rambla', sans-serif;
    text-align: center;
}
.keyError{
    color: rgb(189, 35, 35);
}
.signBtn{
    border-radius: 30px;
    padding: 10px 28px;
    background-color: #60ab7399;
    font-family: 'Rambla', 'sans-serif';
    text-decoration: none;
    color: black;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
.invalid{
    background-color: gray;
}


  
